{% extends "base.html" %}
{% load wtforms %}
{% block content %}
    <a href="{% url 'index' %}">Back</a><br/>
    {% for field in article_form %}
        {{ field.label }}
        {{ field }}
        <br>
    {% endfor %}
    <p>---------------</p>
    {% for comment in comments_list %}
            {{ comment.comment }}
            <br>
    {% endfor %}
    <p>---------------</p>

    <form method="post"  action="{% url 'comment' article_id=article_id %}">
        {% csrf_token %}
        {% form_field comment_form.article class="hidden" %}
        {{ comment_form.comment }}
        <input type="submit" name="submit" value="Comment" />
    </form>
{% endblock content %}
