{% extends "base.html" %}
{% block content %}
    <form id="filter" action="{% url 'index' %}">
        <select id="category-selector" name="category" data-selected="{{ category }}">
            <option value="All">All</option>
            <option value="Awesome stuff">Awesome stuff</option>
            <option value="Colourful stuff">Colourful stuff</option>
        </select>
    </form>
        {% if articles %}
            <ul>
                {% for article in articles %}
                    <li><a href="{% url 'display_article' article_id=article.key.id %}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no articles to present.</strong>
        {% endif %}

    ---<br/>
    <a href="{% url "new_article" %}">Create a new article</a>
{% endblock content %}
