{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="brand" class="text-center">Keep it simple.</div>
    <div class="row">
        <form id="filter" action="{% url 'index' %}" class="col-xs-6">
            <select id="category-selector" name="category" data-selected="{{ category }}" class="form-control">
                <option value="All">All</option>
                <option value="Awesome stuff">Awesome stuff</option>
                <option value="Colourful stuff">Colourful stuff</option>
                <option value="Plain stuff">Plain stuff</option>
            </select>
        </form>
        <div class="col-xs-6">
            <a href="{% url "panel" %}" class="btn btn-warning pull-right">Admin</a>
            <a id="new-article" href="{% url "new_article" %}" class="btn btn-primary pull-right">New article</a>
        </div>
    </div>
    <div id="articles-list">
        {% if articles %}
            {% for article in articles %}
                <div class="row article-overview">
                    <a href="{% url 'display_article' article_id=article.key.id %}"><img src="{% static article.image %}" alt="Image article" class="pull-left" /></a>
                    <a href="{% url 'display_article' article_id=article.key.id %}"><p>{{ article.title }}</p></a>
                    <span class="views"><span class="glyphicon glyphicon-eye-open"></span> {{ article.views }}</span>
                    <p>{{ article.body }}</p>
                </div>
            {% endfor %}
        {% else %}
            <strong>There are no articles to present.</strong>
        {% endif %}
    </div>
{% endblock content %}
