.container {
    margin-top: 100px;
}

#wrapper {
    padding: 0;
}

.article-overview {
    position: relative;
    height: 130px;
    overflow: hidden;
    background-color:white;
    color:black;

    border: solid 1px #6b6b6b;
    border-radius: 10px;
    margin: 10px 0 10px;
    padding: 10px;
}

#category-selector {
    max-width: 150px;
}

.views {
    position: absolute;
    right: 0;
    top: 0;
    color: #6e6e6e;
    margin: 5px 10px;
}

.article-overview:after {
    content:"";
    width: 100%;
    height: 30px;
    bottom: 0;
    position:absolute;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), white);
}

.article-overview img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* Full article view */
#header-article {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#header-article img {
    width: 100%;
    margin-top: -150px;
}

#comment {
    width: 100%;
}
